html{
     display:block;
     font-size:16px;
     font-family:"Michroma",sans-serif;
     font:inherit;
     color:#454545;
   }
.mobilenav {display:none;}



.mobcourses{display:none;}



body{
      width:100%;
      height:100%;
      margin :0px;
      padding:0px;
      overflow-x: hidden;
       line-height:1;
}
a{
  text-decoration:none;
  color:inherit;
}
.headerflex{
       display:flex;
       width:100%;
       height:4rem;
       position:fixed;
       z-index:1;
       background-color:black;
       border-bottom:1px solid #03f7fa;
}
.containerflex{
               display:flex;
               justify-content:space-between;
               align-content:center;
               width:100%;
               margin:0 auto;
}






.logoflex{
               margin-left: 24px;
               display:inline-flex;
               justify-content:space-between;
               align-items:center;
             }

  #bold{
           font-family:"michroma",sans-serif;
           font-weight:bold;
            color:#80ddea;}

  #grey{
            font-family:"michroma",sans-serif;
           color:#e0f7fa;
       }

.desktopnavigation{display:flex;}
nav{
                 display:flex;
                 justify-content:center;
                 align-items:center;

}

   .navigation ul {
                  display:flex;
                  justify-content:flex-end;
                  align-items:center;

                  margin-right:24px;
                  margin-left:650px;
                  padding:1.46rem 0.5rem;
}
.navigation li{
               font-family:"michroma",sans-serif;
               font-weight:bold;
               display:inline-flex;
               justify-content:space-between;
               align-content: flex-end;
               align-items:center;
               margin-right:16px;
               color:#e0f7fa;
}

/*mobilenavigation*/
.mobilenavigation{
  display:flex;
  flex-direction:row;
  justify-content:center;
   align-items: center;
                     background-color:white;
                       color:black;
                }
.mobilenavigation ul{display:flex;


    width:100%;
    height:64px;
     margin: 0 auto;}

.mobilenavigation{  background-color:#b2ebf2;

}


.mobilenavigation li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  /*background-color:white;
  color:black;*/
  font-size:20rem;

  font-size:2rem;}


/*.mobilenavigation{display:none;}*/
/*mobilenavigationend*/


.banner {
  display: flex;
  width: 100%;
  background-color: #03f7fa;
}

.banner-image {
  margin-top:2rem ;
  margin-bottom:2rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  width: 60%;
}

.banner-image img {
    width:100%;
  height: 100%;

}

.feature {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;;
  text-align:left;
  width: 35%;

  line-height: 1.1;
  color:black;
}

.feature-text {
  width: 85%;
}

.feature h1 {
  font-family:"michroma",sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 1.5rem;
}

.feature h3 {
    font-family:"roboto",sans-serif;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  color:black;
}

.start {


  padding: 1rem;
  display: flex;
  justify-content: center;

  border-radius:0.5rem;
  text-decoration: none;
  color: white;


  font-size: 1.5rem;
  font-weight: bold;




}

button {

  width:85%;
   background-color:black;
  text-decoration: none;
  color: white;
  font-family:"roboto",sans-serif;;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Articles */
 .mobileimg{display:none;}
.infoarticles {
  display: flex;
  justify-content:space-between;
  align-content: center;
  width: 100%;
  background-color:#b2ebf2;
  border-top: 1px solid black;
}

.infoarticles .main-image-container {
  margin: 1rem 1.5rem;
  width: 60%;
  padding-bottom: 2rem;
}

.main-image-container{
                      display:flex;
                      flex-direction:column;
                      align-items: center;
}
.infoarticles .main-image img {
  width: 100%;
  margin-top: 1rem;

}

.infoarticle-image-text {
  text-align: left;
  padding-right: 2rem;
  color: #5d5d5d;

}

.infoarticle-image-text h2 {
  font-size: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #000000;
    font-family:"roboto",sans-serif;
}

.infoarticle-image-text h5 {
  margin-top: 1rem;
    font-family:"roboto",sans-serif;
    font-style:italics;
}

.infoarticle-list-container {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
           justify-content:center;
             align-items: center;
  width: 40%;
  padding-top:1rem;
  padding-bottom: 2rem;
}
.infoarticle{display:flex;
         flex-direction:row;
         justify-content: flex-start;
         align-items:center;}



.infoarticle-list .infoarticle {
  width: 100%;
  display: flex;
}



.small-image-container {
  width: 35%;
  padding: 1rem;
}

.small-image-container img {
  width: 100%;

}



#first-article {
  border-bottom: 1px solid lightgray;
}



.infoarticle-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  padding-left: .5rem;
  width: 65%;
}

.infoarticle-description h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #000000;
    font-family:"michroma",sans-serif;
}

.infoarticle-description p {
  margin-bottom: 1rem;
  color: #5d5d5d;
}

.infoarticle-description a {
  text-decoration: none;
  color: #34b3a0;
}



/* course section*/



.majors-container {
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.majors-container h2 {
  font-size: 2.75rem;
  margin: 2rem 0;
  font-weight:normal;
  color:#b2ebf2;
    font-family:"michroma",sans-serif;
}

.majors-grid {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.major:hover{
             box-shadow:6px 6px 6px 6px #b2ebf2;
}

.major {
  background-color: #fff;
  margin: 1rem;
  width: 25%;

}

.major img {
  width: 100%;
}

.major-description {
  height: 100%;
  padding: 1rem;
  line-height: 1.1;
}

.major-description h4 {
  font-size: 1rem;
  padding-top:.5rem;
  font-weight: normal;
  padding-bottom: .5rem;
  color: #000000;
    font-family:"roboto",sans-serif;
}

.major-description h5 {
  padding-bottom: .5rem;
  color: #5d5d5d;
}

.major-description p {
  padding-bottom: 1rem;
  color: #5d5d5d;
}
.courseheader{
  font-size:1.5rem;
  font-weight:bold;
    font-family:"michroma",sans-serif;


}


/*mobile course section*/
.mobcourses{

                         display:flex;
             flex-direction:column;
             justify-content:center;
             align-items:center;
             background-color:#80deea;
              }
.mobspan{width:250px;
          display:flex;
          justify-content:space-around;
          align-items: stretch;
          border:1px solid black;
          background-color:#b3ebf2;
          color:black;
          font-size:1.5rem;
          margin:1rem 1rem 0 1rem;
          padding-bottom:0.5rem;
            font-family:"michroma",sans-serif;
}



 .mobcourses{display:none;}
  .mobspan{display:none;}


.video-section {
  background-color:#03f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section h2 {
  font-size: 2.75rem;
  margin: 2rem 0;
  font-weight: bold;
  font-family:"michroma",sans-serif;
}

.exhibit {
  display: flex;
  width: 100%;
  background-color:#03f7fa;
}

.exhibit .main-video {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  width: 60%;
}

.main-video video {
  width: 100%;


}

.video-text {
  padding-right: 2rem;
  line-height: 1.1;
}

.video-text h4 {
    font-family:"michroma",sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #000000;
}

.video-text p {
  margin-top: 1rem;
  color: #5d5d5d;
}

.video-article-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.video-article-list .video-article {
  width: 100%;
  display: flex;
}

.video-image-container {
  width: 35%;
  padding: 1rem;
}

.video-image-container img {
  width: 100%;


}





.video-article-description {
  background-color:#03f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  padding-left: .5rem;
  width: 65%;
}

 h4.video-article-description {
    font-family:"michroma",sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

p.video-article-description {
  margin-bottom: .5rem;
  color: #5d5d5d;
}
.highlights > div,  .highlights {
  background-color:#FED08F;
}

/* Footer */

footer {
  background-color:black;
  color:#03f7fa;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 1rem 1.5rem;
  font-size: .75rem;
  margin-bottom: 1rem;

}

footer .privacy {
  display: flex;
}

footer .privacy a {
  padding-left: .5rem;
  text-decoration: none;

}

/* mobile rules */





  @media only screen and (max-width:600px) {

    .logoflex {
      display: none;
    }
   .headerflex{display:none;}
  .desktopnavigation{
    display: none;
  }

  .mobilenavigation {display:flex;
                     justify-content:center;
                     align-items:center;
                      width: 100%;


  }
   .mobilenavigation ul {
                 width: 600px;
                 height:68px;
                 display:flex;
                justify-content:space-between;
               align-items: center;

               color:black;
             }
 .mobilenavigation li{ width: 100%;

                       display:flex;
                       justify-content:center;

                    }
/*trialsection----------------------------------*/

.banner {
  display: flex;
  flex-direction:column;
  align-content:center;
  width: 100%;
  background-color: #03f7fa;
}

.banner-image {
  margin:0 auto;
  height:11.25rem;
  width: 100%;
  background-color:#476D7C;
}
button{
        background-color:#476D7C;
        color:black;
      }


.banner-image img {display:none;}

#learn{padding-top:32px;}


.feature{padding-bottom:32px;}


/* ---end of trial-----------------------*/

/*.banner-image{display:none;}*/

.feature {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;;
  text-align:center;
  width: 100%;

  line-height: 1.1;
  color:black;
}

.main-image-container{display:none;}

/*articles*/
.infoarticle-list-container{width:100%;}

.infoarticle-list{width:100%;}


.infoarticle{
             display:flex;
             flex-direction:column;
             justify-content:center;
             align-items:center;
             width:100%;
}
.small-image-container{width:100%;
                       height:auto;}


.desktopimg{display:none;}
.mobileimg{display:flex;
           width:100%;

          }

/*courses*/

.majors-grid{display:none;}

.mobcourses{display:flex;
             flex-direction:column;
             justify-content:space-around;
}
.mobcourses{

             display:flex;
             flex-direction:column;
             justify-content:center;
             align-items:center;
             background-color:#80deea;
             padding-bottom:32px;
              }
.mobspan{
          width:80%;
          display:flex;
          justify-content:space-around;
          align-items: center;
          border:1px solid white;
          background-color:black;
          color:#b3ebf2;
          font-size:1.5rem;

          padding:1rem 1rem 0 1rem;
         padding-bottom:1rem;
            font-family:"michroma",sans-serif;
}

/*videosection#03f7fa*/
 .video-article-list{display:none;}

.video-text{display:none;}

.exibit{
  display: flex;
  flex-direction:column;
  align-items:center;
  width: 100%;
  background-color:white;
}
.exhibit .main-video {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.main-video video {

  width: 100%;

}

/*footer*/
.privacy a{display:none;}
.privacy a{display:none;}
